
.navbar{
    display: flex;
    flex-direction: row-reverse;
    background-color: grey;
    width: 100%;
    border-bottom: 5px;
    border-color: white;
    border-bottom-style: solid;
}

.navbar-child{

    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    margin: 10px;
}

.content{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.introduction {
    font-size: 25px;
    margin-bottom:10px;
    padding:5px;
    display: flex;
    flex-direction: row;
}




.bottomBorder{
    border-color: teal;
    border-width: 3px;
    border-bottom-style: solid;
}

.whiteborder{
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

body {
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;

}

.justified{
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolioPic {
    margin:10px;
}

.font-med{
    font-size: 28px;
}

#description {
    font-size: 20px;
    padding:2px;
    padding-left: 5px;
}

#descriptionText{
    margin: 2%;
}

.workContainer{
    display: flex;
    flex-direction: row;
}

.margin{
    
    margin:10%;
    margin-top:5%;
    margin-bottom:5%;
}

.workHeader{
    font-size: 28pt;
    
}

.workItem {
    margin:20px;
    padding:20px;
}