<div class="row">
    <div class="container ">
        <div class="row border-bottom border-secondary">
            <p class="aboutMe">
                Portfolio
            </p>

        </div>
        <div class="row" id = "root">

        </div>

    </div>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>

<script>

    var root = $("#root");
    var links = ["https://group-project-1.github.io/Presentation/",
        "https://github.com/echen256/bAmazon",

        "https://friendfinder978567583.herokuapp.com/",
        "https://lit-thicket-39018.herokuapp.com/"
    ];
    var titles = ["Project 1: Event Finder",
        "BAmazon: Database Intro",
        "FriendFinder: MySQL Intro",
        "Project 2: StockX"
    ];

    for (var i = 0; i < titles.length; i++) {
        var workEntry = Handlebars.templates.workEntry({ link: links[i], title: titles[i] });
        root.append($(workEntry));
    }

</script>