<div class="container ">
    <div class="row border-bottom border-secondary  textContainer">
        <p class="aboutMe">
            Portfolio
        </p>

    </div>
    <div class="row" id="root">

    </div>

</div>





<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>

<script>

    var root = $("#root");
    var projects = [
        {
            link: "https://github.com/echen256/bAmazon",
            title: "BAmazon: Database Intro"
        },
        {
            link: "https://group-project-1.github.io/Presentation",
            title: "Project 1: Event Finder"
        },
        {
            link: "https://friendfinder978567583.herokuapp.com",
            title: "FriendFinder: MySQL Intro"
        },
        {
            link: "https://lit-thicket-39018.herokuapp.com",
            title: "Project 2: StockX"
        }
    ];

    for (var i = 0; i < projects.length; i++) {
        var workEntry = Handlebars.templates.workEntry(projects[i]);
        root.append($(workEntry));
    }

</script>